body {
    background-color : yellow;
}
h1, p {
    font-family: serif; /* 폰트 종류 serif 지정 */
    color:black;
}
h1 {
    border-bottom : 1px solid gray; /* <hr> 태그가 아니라 아래쪽 테두리 설정 */
    color: red;
}