/* 모든 요소의 마진과 패딩을 0px로 만든다. */
* {
    padding : 0px;
    margin : 0px;
}

body {
    background-color: #f3f1e9;
}
/* header의 배치 */
header {
    height: 60px;
    margin: 10px;
}

/* nav의 배치 */
nav ul{
    list-style : none; /* 불릿 표시 하지 않는다 */
    text-align : center; /* 글자 가운데 정렬 */
    border-top : 1px solid red;
    border-bottom : 1px solid red;
    padding : 10px 0; /* 상하 패딩 10px, 좌우 패딩 0px */
}

nav ul li {
    display : inline; /* li는 블록 요소이지만, 인라인 요소로 변경 (한 줄로 정렬됨) */
    text-transform : uppercase; /* li를 대문자로 모두 바꿈 */
    padding : 0 10px; /* 상하 패딩 0px, 좌우 패딩 10px */
    letter-spacing : 10px; /* 글자 간격 10px */
}

nav ul li a {
    text-decoration : none;
    color : black;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* aside#left의 배치 */
aside#left {
    width: 175px;
    margin-top: 20px;
    float: left;
}

#left h4 {
    font-family : Arial, Helvetica, sans-serif;
    font-size : 20px;
}

#left ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 15px;
    color : #fff;
    list-style : none;
    text-indent: 15px; /* 들여쓰기(양수), 내어쓰기(음수) */
}

#left ul li {
    background: #3f3f3f;
    line-height : 28px;
    border-bottom : 1px solid #333;
}

#left ul li a {
    text-decoration: none;
    display : block; /* 글자 뿐만 아니라 한 줄 전체가 선택된다. 이것을 블록 요소로 변경해야만 전체 배경색이 변경된다. */
}

#left ul li a:hover {
    background-color : #d40203;
}

#left ul li#active {
    background : #d40203;
}

/* article의 배치 */

#main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color : #464646;
    overflow: hidden;
    float : left;
    width ; 430px;
}

/* aside#right의 배치 */

aside#right {
    padding : 0px;
    margin-left : 10px;
    width : 200px;
    float : left;
}

/* 쇼핑 카트와 로그인 배치 */

#shopcart {
    margin-bottom : 20px; /* 쇼핑카트 부분과 로그인 부분이 달라 붙지 않도록 간격 두기 */
}
#login {
    margin-top : 40px;
}

footer {
    width : 100%;
    height : 50px;
    clear : both;
    background-image: url("");
    background-position: top left;
    background-repeat: repeat-x;
}